*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*line1*/
.line1{
    display: flex;
    /* gap: 10px; */
    margin-bottom: 10px;
}
.sub1{
    width: 70%;
    height: 600px;
    background-image: url(./banner-bg.png);
    /* background-size: px; */
    background-repeat: no-repeat;
    z-index: -1;
    display: flex;
    align-items: center;

}
.heading{
    margin-left: 10%;
}
h4{
    color: white;
    font-size: 13px;
    margin-bottom: 30px;
}
/* h4::before{
    content: "";
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: yellow;
    margin-bottom:3px ;
} */
.clean{
    color: white;
    font-size: 3.125rem;
    font-weight: -100px;
    margin-bottom: 40px;
    
}
.discover{
    font-size: 11px;
    color: white;
    border: 1px solid;
    padding: 15px;
    border-radius: 40px;

}
.sub2{
    width: 76vh;/* 600px*/
    /* border: 1px solid; */
    background-color:rgb(239, 173, 49);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1.56rem;
}
.avalon{
    font-size: 3.125rem;
    
}
.creative{
    font-size: 1rem;  
}
.italic{
    font-size: 0.875rem;
    margin-left: 10%;
    margin-right: 6%;
    text-align: center;
    opacity: 0.8;
}
#face{
    background-color: white;
    color: rgb(239, 173, 49);
    border-radius: 20px;
    padding: 3px;
    margin-right: 10px;
}
#twit{
    background-color: white;
    color: rgb(239, 173, 49);
    border-radius: 30px;
    padding: 3px;
    margin-right:10px;
}
#linkedin{
    background-color: white;
    color: rgb(239, 173, 49);
    border-radius: 20px ;
    padding: 3px;
}
#rss{
    background-color: white;
    color: rgb(6, 3, 0);
    border-radius: 20px ;
}
/* line2 */
.line2{
    height: 57vh;
    /* border: 1px solid; */
    display: flex;
    margin-bottom: 10px;
}
.email{
    width: 100%;/*450px*/
    height: 57vh;
    /* border: 1px solid; */
    background-image: url(./best-offer-bg.png);
    text-align: center;
    margin-right: 10px;
}
.img1{
    margin-top: 185px;
    padding: 20px;
    border: 1px solid white;
    /* border-radius: 100%; */
    border-radius: 30px;

}
.awesome{
    width: 100%;/*550px*/
    height: 57vh;
    /* border: 1px solid; */
    margin-right: 10px;
    
}
h3{
    margin-top: 60px;
    margin-left: 35px;
    font-size: 2.188rem;
}
.full{
    margin-left: 35px;
    font-size: 0.8rem;
    line-height: 20px;
}
.anean{
    margin-left: 40px;
    font-size: 13px;
    line-height: 30px;
    opacity: 0.6;
    margin-bottom: 40px;
}
#discover{
    margin-left: 35px;
    border: 1px solid;
    padding: 10px;
    border-radius: 40px;
    color: white;
    background-color:rgb(195, 68, 89) ;
    font-size: 14PX;
    
}
.bulb{
    width: 100%;
    height: 45vh;
    /* border: 1px solid white; */
}
.bulb-img{
    margin-top: 90px;
}
/*line3*/
.line3{
    height: 80vh;
    border: 1px solid white;
    background-image: url(./events-bg.png);

}
.all-dates{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}
.showall{
    display: flex;
    justify-content: center;
    font-size: 17px;
    margin-top: 100px;
   font-weight: 600;
   margin-bottom: 10px;
}
.show{
    padding: 20px;
    margin-right: 6px;
    background-color: white;
}
.design{
    padding: 20px;
    margin-right: 6px;
    background-color: white;
}
.app{
    padding: 20px;
    margin-right: 6px;
    background-color: white;
}
.web{
    padding: 20px;
    margin-right: 6px;
    background-color: white;
}
/* all-dates*/
.all-dates{
    /* border: 2px Solid; */
    width: fit-content;
    display: flex;
    margin-left: 190px;
    flex-direction: column;
    /* justify-content: center; */
        align-items: center;
    
}
.may12,.april24,.mar30,.mar22,.mar16{
    display: flex;
    /* border: 1px solid; */
    /* width: 279.8vw; */
    height:7.6vh;
        margin: 5px;
}
.april24,.mar22{
    background-color: rgba(207, 200, 200, 0.473);
}

.may, .mar1, .mar2,.mar3{
    background-color: rgb(239, 173, 49);
    color: white;
    font-weight: 600;
    padding: 17px;
    margin-right: 10px;
    
}
.april{
    background-color: rgb(239, 173, 49);
    color: white;
    font-weight: 600;
    padding: 10px;
    margin-right: 10px;
}

.four,.drink,.core,.palo,.paleo{
    margin-right: 150px;
    margin-top: 19px;
    font-weight: 600;
}
.conferences,.meeting,.app1,.web2,.app2{
font-size: 10px;

}
.saturday,.tuesday,.fri1,.thursday{
margin-right: 350px;
margin-top: 19px;
opacity: 0.6;
font-size: 14px;
}
.fri2{
    margin-right: 330px;
    margin-top: 19px;  
    opacity: 0.6;
font-size: 14px; 
}
.conferences,.meeting,.app1,.web2,.app2
{
    font-weight: 200;
    font-size: 10px;
    opacity: 0.7;
}
.conferences,.app1,.app2{
    color:rgb(195, 68, 89)  ;
}
.meeting,.web2{
    color:  rgb(239, 173, 49);
}
.i1,.i2,.i3,.i4{
 margin-top: 19px;
 margin-bottom: 15px;
 /* border: 1px solid; */
 border-radius: 10px;
 padding: 5px;
 background-color: rgba(207, 200, 200, 0.473);
 font-size: 10px;
 font-weight: 600;
 margin-left: 40px;
    
}
.i2,.i4{
    background-color: white;
}
.i5{
  margin-top: 19px;
 margin-bottom: 15px;
 margin-left: 60px;
 /* border: 1px solid; */
 border-radius: 10px;
 padding: 2px;
 background-color: rgba(207, 200, 200, 0.473);
 font-size: 10px;
 font-weight: 600;
}
.april24,.mar30,.mar22,.mar16{
    display: flex;
    /* border: 1px solid; */
}

/*line4*/
.line4{
    height:61vh ;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
    
}
.fw-img{
    height:61vh;
    width: 500px;
    /* border: 1px solid; */
    margin-right:10px;
}
#img2{
    height: 61vh;
    width: 244vw;
    /* border: 1px solid; */
    background-image: url(./testimonial-bg.png);
    background-size: cover ;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    
}
.developer{
    font-size: 10px;
    color: rgb(195, 68, 89);
}
.smith{
    font-weight: 700;
}
.morbi{
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    opacity: 0.6;
    line-height: 30PX;
    
}
.small1{
    width: 5px;
    height: 5px;
    background-color: rgb(195, 68, 89);
    border-radius: 50px;
}
.small2{
    width: 5px;
    height: 5px;
    background-color: rgb(195, 68, 89);
    border-radius: 50px;
}
.small3{
    width: 5px;
    height: 5px;
    background-color: rgb(195, 68, 89);
    border-radius: 50px;
}
/*line5*/
.line5{
    height: 41vh;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
    /* align-items: center;
    align-content: center; */
   
}
.aliquam{
    height: 40.7vh;
    width: 25vw;
    /* border: 1px solid; */
    background-color: rgb(239, 173, 49);
    opacity: 0.9;
    text-align: center;
    
}
.nullam{
    height: 40.7vh;
    width: 25vw;
    /* border: 1px solid; */
    background-color: rgb(233, 153, 5);
    opacity: 0.9;
    text-align: center;
}
.sed{
    height: 40.7vh;
    width: 25vw;
    /* border: 1px solid; */
    background-color: rgb(195, 68, 89);
    opacity: 0.9;
    text-align: center;
}
.fusce{
    height: 40.7vh;
    width: 25vw;
    /* border: 1px solid; */
    background-color: rgb(168, 60, 60);
    opacity: 0.9;
    text-align: center;
}
.heart{
    margin-top: 100px;
    border-radius: 100px;
    border: 1px solid white;
    padding: 20px;
    font-size: 13px;
}
/*line6*/
.line6{
    height: 50.7vh;
    /* border: 1px solid; */
    margin-top: 10px;
    display: flex;
    margin-bottom: 4.5vh;
}
.input{
    width: 950px;
    height:54vh ;
    /* border: 1px solid; */
    background-image: url(./contact-bg.png); 
    padding: 10vh 2vh 1vh 2vh;
   
    
}
textarea{
    background-color: transparent;
}
.line6 input{
    background-color: transparent;
    width: 15vw;
    margin: 30px;
    height: 5vh;
    /* border: none; */

}
.line6 #textarea{
    margin-left: 2vw;
}
.maps{
    width: 515px;
    height: 54vh;
    /* border: 1px solid; */
    margin-left: 10px;
    background-image: url(./contact-right-bg.png);
    text-align: center;
}
.location{
    margin-top: 120px;
}
/* line7*/
.line7{
    /* width: 1470px; */
    height: 50px;
    /* border: 1px solid; */
    margin-top: 10px;
    text-align: center;
    background-color: rgb(181, 225, 211);
    font-size: 13px;
}
.send{
    color: white;
    background-color: rgb(233, 153, 5);
    width: 9vw;
    padding: 10px;
    border-radius: 6vh;
    margin-left: 4vh;
    margin-top: 1vh;
}
p{
    padding: 15px;
}
.html{
    color: rgb(195, 68, 89);
}
@media  screen and (max-width: 600px)
 {
    .line1{
        display: grid;
       grid-template-rows:repeat(2,1fr) ;

    }
    .sub1{
        width: 100%;
    }
    .line2{
       display: flex;
       flex-wrap: wrap;
    }
    .email{
        width: 100%;
        
    }
    .awesome{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    /* .anean{
        line-height: 3%;
    } */
     .bulb{
        margin-top: 55%;
        margin-left: 10%;
     }
    .line3{
        
        width: 100%;
        margin-top: 240%;
    }
    .all-dates{
        margin-left: 1%;
        margin-top: 1%;
        width: 100vw;
        
    }
    .line4{
        display: grid;
        grid-template-rows: (1,1fr);
    }
     .img2{
     width: 100vw;
     }
    .line5{
        margin-top: 100%;
        display: block;

        width: 100%;
        margin-bottom: 250%;
    }
    .aliquam{
        width: 100vh;
    }
    .line6{
        display: block;
    }

}